<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>GAME PLAY</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<h2>Jugar Ruleta</h2>
			<br />
			<form action="#" >
				Escoger numero:<input type="text" class="form-control" /> <br />
				Escoger color:<input type="text" class="form-control" /> <br />
				Saldo: <br /> idUser: <br />

				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Recargar
				</button>


			</form>
			<a href="#" th:href="@{/principal/apostar}">
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Apostar
				</button>
			</a> <a href="#" th:href="@{/principal/closeroulette}">
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					Cerrar Ruleta
				</button>
			</a>
		</div>
	</div>

</body>
</html>